<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>Goods Management Backstage</title>
    <link rel="stylesheet" th:href="@{/static/res/layui/css/layui.css}" media="all"/>
    <link rel="stylesheet" th:href="@{/static/css/user.css}"/>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script th:src="@{/static/js/jquery.cookie.js}"></script>
</head>

<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">Goods Management Backstage System</div>
        <div class="div_center"><h2 class="nav_title">Supermarket</h2></div>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <dl class="layui-nav-child">
                    <dd><a href="">Basic Information</a></dd>
                    <dd><a href="">Security Configuration</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="javascript:;" onclick="logout()">exit</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <ul class="layui-nav layui-nav-tree">
                <li class="layui-nav-item">
                    <a href="goods_main.html">Goods Management</a>
                </li>
                <li class="layui-nav-item">
                    <a href="category_main.html">Category Management</a>
                </li>
                <li class="layui-nav-item">
                    <a href="member_main.html">Member Management</a>
                </li>
                <li class="layui-nav-item">
                    <a href="store_edit.html">Store Edit</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body main_body">
        <hr/>
        <h2>server error… :(</h2>

    </div>

    <div class="layui-footer">
        <div style="text-align: center">
            <a href="https://github.com/cheng-kun" target="_blank">© kun</a>
        </div>
    </div>
</div>

<script type="text/javascript">
    var name = $.cookie('store-name');
    $('.nav_title').text(name);

    function logout() {
        layer.confirm('log out？', function (index) {
            $.ajax({
                type: "post",
                url: "/user/logout",
                async: true, // Asynchronous processing
                dataType: "json", // The expected data type of the server response
                data: JSON.stringify('{}'), // 	Specifies the data to be sent to the server
                contentType: 'application/json',
                success: function (result) {
                    console.log('logout succeed: ' + result);
                    if (result.status == 1) {
                        location.href = '/login.html';
                    } else {
                        layer.msg(result.errorCode.message, {icon: 5})
                    }
                },
                error: function () {
                    layer.msg('Request failed', {icon: 5})
                }
            });
        });
    }
</script>
</body>
</html>

