<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>Goods Management Backstage</title>

    <link rel="stylesheet" th:href="@{/static/res/layui/css/layui.css}" media="all"/>
    <link rel="stylesheet" th:href="@{/static/css/user.css}"/>
    <script type="text/javascript" th:src="@{/static/res/layui/layui.js}" charset="utf-8"></script>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script th:src="@{/static/js/jquery.cookie.js}"></script>
</head>

<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">Goods Management Backstage System</div>
        <div class="div_center"><h2 class="nav_title">世纪华联</h2></div>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <dl class="layui-nav-child">
                    <dd><a href="">Basic Information</a></dd>
                    <dd><a href="">Security Configuration</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="javascript:;" onclick="logout()">退出</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <ul class="layui-nav layui-nav-tree">
                <li class="layui-nav-item layui-this layui-nav-itemed">
                    <a href="goods_main.html">Goods Management</a>
                </li>
                <li class="layui-nav-item">
                    <a href="category_main.html">Category Management</a>
                </li>
                <li class="layui-nav-item">
                    <a href="member_main.html">Member Management</a>
                </li>
                <li class="layui-nav-item">
                    <a href="store_main.html">Store Edit</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body main_body">
        <h1>Goods Management</h1>
        <hr/>
        <div>
            <div class="layui-form-item" style="margin-top: 20px">
                <label class="layui-form-label">Goods Name</label>
                <div class="layui-input-inline">
                    <input id="text_input_name" type="text" name="gname" lay-verify="required" autocomplete="off"
                           class="layui-input input_box" placeholder="please enter goods name"/>
                </div>
                <div class="layui-input-inline" style="margin-left: 40px">
                    <button id="btn_query" class="layui-btn">inquiry</button>
                </div>

                <div class="layui-input-inline" style="margin-left: 20px">
                </div>
            </div>

            <div id="ope_button">
                <button id="btn_delete" data-type="deleteGoods" class="layui-btn">delete</button>
                <button id="btn_add_stock" data-type="addStock" class="layui-btn">change stock</button>
                <button id="btn_sale" data-type="changeSale" class="layui-btn" style="display: none;">remove</button>
                <a href="goods_new.html" class="layui-btn" style="color:#fff;margin-left: 80px">add</a>
            </div>

            <div class="layui-tab layui-tab-brief" lay-filter="goods_status">
                <ul class="layui-tab-title">
                    <li class="layui-this">全部</li>
                    <li>on sale</li>
                    <li>removed</li>
                </ul>
                <div class="layui-tab-content"></div>
            </div>

            <script type="text/html" id="goods_operation">
                <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
                <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
            </script>

            <table class="layui-hide" id="goods" lay-filter="goods_list"></table>

        </div>

    </div>

    <div class="layui-footer">
        <div style="text-align: center">
            <a href="https://github.com/cheng-kun" target="_blank">© kun</a>
        </div>
    </div>
</div>

<script>
    var name = $.cookie('store-name');
    $('.nav_title').text(name);
    $('#btn_sale').hide();

    layui.use(['layer', 'table', 'element'], function () {
        var table = layui.table;
        var element = layui.element;

        element.on('tab(goods_status)', function (data) {
            // layer.msg(data.index + ':' + this.innerHTML);
            // index: 0, 1, 2
            if (data.index == 0) {
                // 全部
                $('#btn_sale').hide();
                table.reload('render_goods', {
                    where: {
                        'sale': 0
                    }
                    , page: {
                        curr: 1
                    }
                });
            } else if (data.index == 1) {
                // 在售
                $('#btn_sale').show();
                $('#btn_sale').text('remove');
                table.reload('render_goods', {
                    where: {
                        'sale': 1
                    }
                    , page: {
                        curr: 1
                    }
                });
            } else if (data.index == 2) {
                $('#btn_sale').show();
                $('#btn_sale').text('上架');
                table.reload('render_goods', {
                    where: {
                        'sale': -1
                    }
                    , page: {
                        curr: 1
                    }
                });
            }
        });
        var $ = layui.$, active = {
            // 删除
            deleteGoods: function () {
                var checkStatus = table.checkStatus('render_goods')
                    , data = checkStatus.data;
                if (data.length == 0) {
                    layer.msg('please select goods name');
                } else {
                    layer.confirm('Deleted？', function () {
                        var da = JSON.stringify(data);
                        console.log('da' + da);
                        $.ajax({
                            type: "post",
                            url: "/goods/delete_bundle",
                            async: true,
                            dataType: "json",
                            data: da,
                            contentType: 'application/json',
                            success: function () {
                                layer.msg('删除成功', {icon: 6});
                                table.reload('render_goods', {
                                    page: {
                                        curr: 1
                                    }
                                });
                            },
                            error: function () {
                                layer.msg('Request failed', {icon: 5})
                            }
                        });
                    });
                }
            },

            addStock: function () {
                var checkStatus = table.checkStatus('render_goods')
                    , data = checkStatus.data;
                if (data.length == 0) {
                    layer.msg('plese select goods');
                } else {
                    layer.prompt({title: 'please enter stock', formType: 2}, function (text, index) {
                        layer.close(index);
                        data.map(function (item, index, input) {
                            return item['stock'] = parseInt(text, 10);
                        });
                        var da = JSON.stringify(data);
                        console.log('data:' + da);
                        $.ajax({
                            type: "post",
                            url: "/goods/increase_stock",
                            async: true,
                            dataType: "json",
                            data: da,
                            contentType: 'application/json',
                            success: function () {
                                layer.msg('operation successfully', {icon: 6});
                                table.reload('render_goods', {
                                    page: {
                                        curr: 1
                                    }
                                });
                            },
                            error: function () {
                                layer.msg('Request failed', {icon: 5})
                            }
                        });
                    });
                }
            },
            changeSale: function () {
                var checkStatus = table.checkStatus('render_goods')
                    , data = checkStatus.data;
                if (data.length == 0) {
                    layer.msg('please select goods');
                } else {
                    data.map(function (item, index, input) {
                        return item['onSale'] = !item['onSale'];
                    });
                    var da = JSON.stringify(data);
                    console.log('da' + da);
                    $.ajax({
                        type: "post",
                        url: "/goods/on_sale",
                        async: true,
                        dataType: "json",
                        data: da,
                        contentType: 'application/json',
                        success: function () {
                            layer.msg('operation successfully', {icon: 6});
                            table.reload('render_goods', {
                                page: {
                                    curr: 1
                                }
                            });
                        },
                        error: function () {
                            layer.msg('Request failed', {icon: 5})
                        }
                    });
                }
            }
        };

        $('#ope_button .layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        //监听工具条
        table.on('tool(goods_list)', function (obj) {
            var data = obj.data;
            if (obj.event === 'detail') {
                location.href = '/goods_show?goods_id=' + data.goodsId;
            } else if (obj.event === 'del') {
                var d = {'goodsId': data.goodsId};
                layer.confirm('Deleted？', function (index) {
                    $.ajax({
                        type: "post",
                        url: "/goods/delete",
                        async: true,
                        dataType: "json",
                        data: JSON.stringify(d),
                        contentType: 'application/json',
                        success: function (result) {
                            console.log('delete succeed: ' + result);
                            layer.close(index);
                            if (result.status == 1) {
                                layer.msg('删除成功', {icon: 6});
                                obj.del();
                            } else {
                                layer.msg(result.errorCode.message, {icon: 5})
                            }
                        },
                        error: function () {
                            layer.msg('Request failed', {icon: 5})
                        }
                    });
                });
            } else if (obj.event === 'edit') {
                location.href = '/goods_edit?goods_id=' + data.goodsId;
            }
        });

        table.render({
            elem: '#goods'
            , url: '/goods/query'
            , cellMinWidth: 80
            , method: 'post'
            , cols: [
                [
                    {type: 'checkbox'}
                    , {field: 'goodsId', title: 'ID', width: 100, unresize: true, sort: true}
                    , {field: 'gname', title: '名称'}
                    , {field: 'specification', title: '规格', width: 200}
                    , {field: 'price', title: '单价', width: 200, sort: true}
                    , {field: 'stock', title: '库存', width: 200, sort: true}
                    , {field: 'saleVolume', title: '销量', width: 200, sort: true}
                    , {field: 'createdAt', title: '创建时间', width: 200}
                    , {fixed: 'right', title: '操作', width: 200, align: 'center', toolbar: '#goods_operation'},
                ]]
            , response: {
                dataName: 'list',
                countName: 'count',
                statusCode: '1',
                statusName: 'status'
            }
            , request: {
                pageName: 'page_index',
                limitName: 'page_size'
            }, where: {
                'sale': 0
            }
            , page: true
            , id: 'render_goods'
        });

        // 查询按钮
        $('#btn_query').on('click', function () {
            console.log('click query button');
            var text = $('#text_input_name').val();
            table.reload('render_goods', {
                where: {
                    'name': text
                }
                , page: {
                    curr: 1
                }
            });
        });
    });

    function logout() {
        layer.confirm('log out？', function (index) {
            $.ajax({
                type: "post",
                url: "/user/logout",
                async: true,
                dataType: "json",
                data: JSON.stringify('{}'),
                contentType: 'application/json',
                success: function (result) {
                    console.log('logout succeed: ' + result);
                    if (result.status == 1) {
                        location.href = '/login.html';
                    } else {
                        layer.msg(result.errorCode.message, {icon: 5})
                    }
                },
                error: function () {
                    layer.msg('Request failed', {icon: 5})
                }
            });
        });
    }
</script>

</body>
</html>

