<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>login</title>
    <link rel="stylesheet" th:href="@{/static/res/layui/css/layui.css}" media="all"/>
    <link rel="stylesheet" th:href="@{/static/css/login.css}" media="all"/>
    <link rel="stylesheet" th:href="@{/static/css/admin.css}" media="all"/>
    <link rel="stylesheet" th:href="@{/static/css/user.css}"/>
    <script type="text/javascript" th:src="@{/static/res/layui/layui.js}" charset="utf-8"></script>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script th:src="@{/static/js/jquery.cookie.js}"></script>
</head>

<body class="layui-bg-gray layui-layout-body">

<div class="div_center" style="padding-top: 160px">
    <h1 class="content_center">Goods Management Backstage</h1>

    <p class="content_center" style="margin-top: 18px; font-size: 14px">Convenient, reliable and efficient merchant management system</p>
</div>
<div class="div_center" style="margin-top: 20px;width: 300px;">
    <form id="login_form" class="layui-form" action="" method="post">
        <div class="layui-form-item">
            <div class="layui-input-inline">
                <input name="phone" class="layui-input form_input" value="15812344321" type="text"
                       placeholder="手机号"
                       autocomplete="off" required='required' lay-verify="phone"/>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-inline">
                <input id="password" name="password" class="layui-input form_input" value="123456" type="password"
                       placeholder="password"
                       autocomplete="off" required='required' lay-verify="required"/>
            </div>
        </div>
        <div class="layui-form-item">
            <input id="check_box" type="checkbox" name="remember" lay-filter='rem_pass' checked='checked'
                   lay-skin="primary" title="Remember password"/>
            <a href="#" class="layadmin-link action_sub_button">forget password</a>
        </div>
        <div class="layui-form-item ">
            <div class="layui-input-inline ">
                <button class="layui-btn action_button " lay-submit='' lay-filter="login_form_button">login</button>
            </div>
        </div>
        <div class="layui-form-item">
            <a href="register.html" class="layadmin-link action_sub_button">Register an account</a>
        </div>
    </form>

</div>

<script>

    layui.use(['form'], function () {
        var form = layui.form;


        form.on('submit(login_form_button)', function (data) {
            var dataLogin = JSON.stringify(data.field);
            console.log(dataLogin);

            $.ajax({
                type: "post",
                url: "/user/login",
                async: true,
                dataType: "json",
                data: dataLogin,
                contentType: 'application/json',
                success: function (result) {
                    console.log('login succeed: ' + result);
                    if (result.status == 1) {
                        if ($('#check_box').attr('checked')) {
                            $.cookie('password', $('#password').val(), {expires: 3600 * 24, path: '/'});
                        } else {
                            $.cookie('password', null, {expires: 0, path: '/'});
                        }
                        layer.msg('login successfully', {icon: 6}, function () {

                            location.href = '/goods_main.html';
                        })
                    } else {
                        layer.msg(result.errorCode.message, {icon: 5})
                    }
                },
                error: function () {
                    layer.msg('Request failed', {icon: 5})
                }
            });
            return false;
        });

        form.on('checkbox(rem_pass)', function (data) {
            console.log(data.elem.checked);
            if (data.elem.checked) {
                $.cookie('password', $('#password').val(), {expires: 3600 * 24, path: '/'});
            } else {
                $.cookie('password', null, {expires: 0, path: '/'});
            }
        });
    });
</script>

</body>
</html>