<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>Goods Management Backstage</title>
    <link rel="stylesheet" th:href="@{/static/res/layui/css/layui.css}" media="all"/>
    <link rel="stylesheet" th:href="@{/static/css/user.css}"/>
    <script type="text/javascript" th:src="@{/static/res/layui/layui.js}" charset="utf-8"></script>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script th:src="@{/static/js/jquery.cookie.js}"></script>
</head>

<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">Goods Management Backstage System</div>
        <div class="div_center"><h2 class="nav_title" th:text="${store.name}">supermarket</h2></div>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <dl class="layui-nav-child">
                    <dd><a href="">Basic Information</a></dd>
                    <dd><a href="">Security Configuration</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="javascript:;" onclick="logout()">exit</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <ul class="layui-nav layui-nav-tree">
                <li class="layui-nav-item">
                    <a href="goods_main.html">Goods Management</a>
                </li>
                <li class="layui-nav-item">
                    <a href="category_main.html">Category Management</a>
                </li>
                <li class="layui-nav-item">
                    <a href="member_main.html">Member Management</a>
                </li>
                <li class="layui-nav-item layui-this layui-nav-itemed">
                    <a href="store_main.html">Store Edit</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body main_body">
        <a href="store_main.html">
            <i class="layui-icon" style="font-size: 24px">&#xe65c;</i>
        </a>

        <hr/>
        <h1>Store Edit</h1>
        <hr/>
        <div>
            <form class="layui-form" action="">
                <div class="layui-form-item" style="margin-top: 20px">
                    <label class="layui-form-label">store Logo</label>
                    <div class="layui-upload">
                        <button type="button" class="layui-btn" id="upload_btn">upload picture</button>
                        <div class="layui-upload-list" style="margin-left: 110px">
                            <img class="upload-img" id="upload_img" src="../static/img/user_profile.png"
                                 th:src="${store.logo}"/>
                            <p id="upload_message"></p>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">store name</label>
                    <div class="layui-input-inline">
                        <input type="text" name="name" lay-verify="required" autocomplete="off"
                               class="layui-input input_box" th:value="${store.name}"/>
                    </div>
                    <div class="layui-input-inline">
                        <input id="hidden_store_id" type="hidden" name="storeId" th:value="${store.storeId}"/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">contact number</label>
                    <div class="layui-input-inline">
                        <input type="tel" name="phone" lay-verify="required|phone" autocomplete="off"
                               class="layui-input input_box" th:value="${store.phone}"/>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">per capita price</label>
                    <div class="layui-input-inline">
                        <input type="number" name="avgPrice" lay-verify="required" autocomplete="off"
                               class="layui-input input_box" placeholder="¥" th:value="${store.avgPrice}"/>
                    </div>
                    <label class="layui-form-label" style="padding-left: 12px; text-align: left">dollar</label>
                </div>

                <div class="layui-form-item" style="margin-top: 20px">
                    <label class="layui-form-label">category</label>
                    <div class="layui-input-inline">
                        <input type="value" name="category" lay-verify="required" autocomplete="off"
                               class="layui-input input_box" th:value="${store.category}"/>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">business hours</label>
                        <div class="layui-input-inline" style="width: 100px;">
                            <input id="sale_from" type="text" name="saleFrom" placeholder="00:00" autocomplete="off"
                                   class="layui-input" th:value="${store.saleFrom}"/>
                        </div>
                        <div class="layui-form-mid">-</div>
                        <div class="layui-input-inline" style="width: 100px;">
                            <input id="sale_to" type="text" name="saleTo" placeholder="00:00" autocomplete="off"
                                   class="layui-input" th:value="${store.saleTo}"/>
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">Address</label>

                    <div class="layui-input-block">
                        <input type="text" name="address" lay-verify="required" autocomplete="off"
                               class="layui-input" th:value="${store.address}"/>
                    </div>
                </div>

                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">profile</label>
                    <div class="layui-input-block">
                        <textarea placeholder="please enter store profile (optional)" name="description" class="layui-textarea"
                                  th:text="${store.description}"></textarea>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit="" lay-filter="confirm">Confirm</button>
                        <button type="reset" class="layui-btn layui-btn-primary">Reset</button>
                    </div>
                </div>
            </form>

        </div>

    </div>

    <div class="layui-footer">
        <div style="text-align: center">
            <a href="hhttps://github.com/cheng-kun" target="_blank">© kun</a>
        </div>
    </div>
</div>

<script>

    layui.use('form', function () {
        var form = layui.form;
        form.on('submit(confirm)', function (data) {
            var message = JSON.stringify(data.field);
            console.log(message);
            $.ajax({
                type: "post",
                url: "/store/update",
                async: true,
                dataType: "json",
                data: message,
                contentType: 'application/json',
                success: function (result) {
                    console.log('update succeed: ' + result);
                    if (result.status == 1) {
                        layer.msg('changed successfully', {icon: 6}, function () {
                            $('.nav_title').text(message.name);
                            location.href = '/store_main.html';
                        })
                    } else {
                        layer.msg(result.errorCode.message, {icon: 5})
                    }
                },
                error: function () {
                    layer.msg('Request failed', {icon: 5})
                }
            });
            return false;
        });
    });

    layui.use('laydate', function () {
        var laydate = layui.laydate;

        laydate.render({
            elem: '#sale_from'
            , type: 'time'
            , btns: ['now', 'confirm']
        });
        laydate.render({
            elem: '#sale_to'
            , type: 'time'
            , btns: ['now', 'confirm']
        });
    });

    layui.use('layer');

    layui.use('upload', function () {
        var $ = layui.jquery
            , upload = layui.upload;

        var uploadInst = upload.render({
            elem: '#upload_btn'
            , url: '/upload/image_store'
            , method: 'post'
            , accept: 'images'
            , before: function (obj) {
                obj.preview(function (index, file, result) {
                    $('#upload_img').attr('src', result);
                });
            }
            , data: {
                'store_id': $('#hidden_store_id').val()
            }
            , done: function (res) {
                if (res.status == 0) {
                    layer.msg('upload failed', {icon: 5});
                } else {
                    layer.msg('upload successfully', {icon: 6});
                }
            }
            , error: function () {
                var demoText = $('#upload_message');
                demoText.html(
                    '<span style="color: #FF5722;">upload failed</span> <a class="layui-btn layui-btn-mini demo-reload">retry</a>');
                demoText.find('.demo-reload').on('click', function () {
                    uploadInst.upload();
                });
            }
        });
    });

    function logout() {
        layer.confirm('log out？', function () {
            $.ajax({
                type: "post",
                url: "/user/logout",
                async: true,
                dataType: "json",
                data: JSON.stringify('{}'),
                contentType: 'application/json',
                success: function (result) {
                    console.log('logout succeed: ' + result);
                    if (result.status == 1) {
                        location.href = '/login.html';
                    } else {
                        layer.msg(result.errorCode.message, {icon: 5})
                    }
                },
                error: function () {
                    layer.msg('Request failed', {icon: 5})
                }
            });
        });
    }

</script>

</body>
</html>

